<!DOCTYPE html>
<!-- @auhtor　黄倉大輔 -->
<html lang="jp" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="adminLayout">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<!-- Select2 -->
<link rel="stylesheet"
	th:href="@{/lib/admin-lte/bower_components/select2/dist/css/select2.min.css}"
	href="../../static/lib/admin-lte/bower_components/select2/dist/css/bootstrap.min.css" />

<!-- 組織表テンプレート -->
<script id="org-record-tmpl" type="text/x-jsrender">
        <tr class="clickable" onclick="findUser('{{:orgCd}}')">
            <td class="vert-align col-md-5">
                {{:orgCd}}
            </td>
            <td class="vert-align col-md-7">
                {{:orgName}}
            </td>
            <td class="vert-align col-md-1">
                <a class="btn btn-xs btn-info" onclick="openUpdateOrg('{{:orgCd}}')" href="#">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>
            <td class="vert-align col-md-1">
                <i class="fa fa-minus text-danger" onclick="handleDeleteOrg('{{:orgCd}}')"></i>
            </td>
        </tr>
    	</script>

<!-- ユーザ表テンプレート -->
<script id="user-record-tmpl" type="text/x-jsrender">
        <tr>
            <td class="vert-align col-md-1">
                <input type="checkbox" name="userIds" value="{{:userId}}" class="checkUser"/>
            </td>
            <td class="vert-align col-md-2">
                {{:userId}}
            </td>
            <td class="vert-align col-md-2">
                {{:authName}}
            </td>
            <td class="vert-align col-md-2">
                {{:orgName}}
            </td>
            <td class="vert-align col-md-2">
                {{:name}}
            </td>
            <td class="vert-align col-md-2">
                {{:mail}}
            </td>
            <td class="vert-align col-md-1">
                <a class="btn btn-xs btn-info" href="#" onclick="openUpdateUser({{:userId}})">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>
        </tr>
    	</script>
</head>
<body>

	<div class="ui container" layout:fragment="content" th:remove="tag">
		<!-- Content Header (Page header) -->
		<section class="content-header"></section>

		<!-- 本文 -->
		<div class="col-md-4">
			<!-- 組織表-->
			<section class="content">
				<div class="box box-default">
					<div class="box-header with-border">
						<h3 class="box-title">組織管理</h3>
					</div>

					<div class="box-body">
						<a class="btn btn-s btn-info" href="#" onclick="openRegisterOrg()">
							<i class="fa fa-plus"></i>
						</a>
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>組織コード</th>
									<th>組織名</th>
								</tr>
							</thead>
							<tbody id="org-list">

							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>

		<div class="col-md-8">
			<!-- ユーザ表 -->
			<section class="content">
				<div class="box box-default">
					<div class="box-header with-border">
						<h3 class="box-title">ユーザ管理</h3>
					</div>
					<div class="box-body">
						<a class="btn btn-s btn-danger" href="#"
							onclick="handleDeleteUsers()"> <i class="fa fa-trash"></i>
						</a> <a class="btn btn-s btn-info" href="#"
							onclick="openRegisterUser()"> <i class="fa fa-plus"></i>
						</a>
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th><input type="checkbox" id="userAllCheck"
										onclick="onUserAllSelecting()" /></th>
									<th>ユーザID</th>
									<th>権限</th>
									<th>組織</th>
									<th>名前</th>
									<th>メール</th>
								</tr>
							</thead>
							<tbody id="user-list">

							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>

		<!-- 組織モーダル(登録・更新) -->
		<div class="modal" id="modal-org-form" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">組織登録</h4>
					</div>
					<div class="modal-body">
						<form id="org-register-form" class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label" for="user-id">組織コード</label>
								<div class="col-md-9">
									<input type="text" name="orgCd" id="org-cd" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="user-id">組織名</label>
								<div class="col-md-9">
									<input type="text" name="orgName" id="org-name" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="user-id">表示順序</label>
								<div class="col-md-9">
									<input type="text" name="dispSeq" id="disp-seq" />
								</div>
							</div>
						</form>
						<div class="modal-footer">
							<button type="button" id="org-register-button"
								class="btn btn-primary" onclick="handleRegisterOrg()">保存</button>
							<button type="button" id="org-update-button"
								class="btn btn-primary" onclick="handleUpdateOrg()">保存</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">キャンセル</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- ユーザモーダル(登録・更新) -->
		<div class="modal" id="modal-user-form" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">ユーザ登録</h4>
					</div>
					<div class="modal-body">
						<form id="user-register-form" class="form-horizontal">
							<div class="form-group">
								<label class="col-md-3 control-label" for="user-id">ユーザID</label>
								<div class="col-md-9">
									<input type="text" name="userId" id="user-id" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="password">パスワード</label>
								<div class="col-md-9">
									<input type="password" name="password" id="password" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="name">名前</label>
								<div class="col-md-9">
									<input type="text" name="name" id="name" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label" for="mail">メールアドレス</label>
								<div class="col-md-9">
									<input type="text" name="mail" id="mail" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="user-org-cd">組織</label>
								<div class="col-md-9">
									<select name="orgCd" id="user-org-cd"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="manager-id">上司</label>
								<div class="col-md-9">
									<select name="managerId" id="manager-id"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label" for="auth-cd"> 権限</label>
								<div class="col-md-9">
									<select name="authCd" id="auth-cd"></select>
								</div>
							</div>

						</form>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary"
								id="user-register-button" onclick="handleRegisterUser()">保存</button>
							<button type="button" class="btn btn-primary"
								id="user-update-button" onclick="handleUpdateUser()">保存</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">キャンセル</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div layout:fragment="script" th:remove="tag">
		<!-- Select2 -->
		<script
			src="../../static/lib/admin-lte/bower_components/select2/dist/js/select2.min.js"
			th:src="@{/lib/admin-lte/bower_components/select2/dist/js/select2.min.js}"></script>
		<!-- JsRender -->
		<script th:src="@{/lib/jsrender/jsrender.min.js}"
			src="../../static/lib/jsrender/jsrender.min.js"></script>
		<script th:src="@{/js/admin/user-org.js}"
			src="../../static/js/admin/user-org.js"></script>
	</div>



</body>
</html>
