<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/line-login.css" th:href="@{/css/line-login.css}" />
    <title>勤怠システム</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="area">
            <h4 class="text-center area-margin">LINEログインセッションエラー</h4>
            <div class="center-block area-margin">
              <div>セッションエラーが発生しました。</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
