@CHARSET "UTF-8";

body {
  font-family: 'FontAwesome';
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.clickable {
  cursor : pointer;
}

input[type="text"][readonly]{
    background:#DCDCDC;
    cursor:not-allowed;
}